<div class="w3-container" style="padding: 10px;">
  {{#each posts as |post|}}
  <a href="/api/post/{{post.id}}" style=text-decoration:none;>
    <div class="w3-card w3-hover-shadow" style="margin: 20px 0px 20px 10px;">

    <header class="w3-container w3-green">
      <h5>{{post.title}}</h5>
    </header>

    <div class="w3-container">
      <p>{{post.body}}</p>
    </div>

    <footer class="w3-white" style="padding-left: 10px;">
      <p>Posted by {{post.username}} on {{ format_date post.createdAt }}</p>
    </footer>

  </div>
  </a>
  {{/each}}
</div>

