<div class="w3-container" style="padding: 10px;">
  <h2>Welcome to your Dashboard</h2>
  <a href="/create" class="w3-button w3-green">Create Post</a>
  <hr>

  {{#each posts as |post|}}
  <div class="w3-card w3-hover-shadow" style="margin: 20px 0px 20px 10px;">

    <header class="w3-container w3-green">
      <h5>{{post.title}}</h5>
    </header>

    <div class="w3-container">
      <p>{{post.body}}</p>
    </div>

    <footer class="w3-white" style="padding-left: 10px;">
      <p>Posted by {{post.username}} on {{ format_date post.createdAt }}</p>

      <div class="w3-bar">
        <a href="api/comment/{{post.id}}" class="w3-button w3-black">Comment</a>
        {{#if post.owner }}
        <a href="api/post/edit/{{post.id}}" class="w3-button w3-black">Edit</a>
        <a href="api/post/delete/{{post.id}}" class="w3-button w3-black">Delete</a>
        {{/if}}
      </div>
    </footer>

  </div>
  {{/each}}
  <hr>
</div>

