<div class="w3-container" style="margin-top: 20px;">
  <div class="w3-card">
    <header class="w3-container w3-green">
      <h5>{{post.title}}</h5>
    </header>

    <div class="w3-container">
      <p>{{post.body}}</p>
    </div>

    <footer class="w3-white" style="padding-left: 10px;">
      <p>Posted by {{post.username}} on {{post.createdAt}}</p>
      <div class="w3-bar">
        <a href="/api/comment/{{post.id}}" class="w3-button w3-black">Comment</a>
        {{#if post.owner }}
        <a href="/api/post/edit/{{post.id}}" class="w3-button w3-black">Edit</a>
        <a href="/api/post/delete/{{post.id}}" class="w3-button w3-black">Delete</a>
        {{/if}}
      </div>
    </footer>
  </div>


    {{#each comments as |comment|}}
    <div class="w3-card" style="margin: 10px 0px 20px 40px;">

      <div class="w3-container">
        <p>{{comment.body}}</p>
      </div>

      <footer class="w3-white" style="padding-left: 10px;">
        <p>Posted by {{comment.username}} on {{comment.createdAt}}</p>

        {{#if comment.owner }}
        <div class="w3-bar">
          <a href="/api/comment/edit/{{comment.id}}" class="w3-button w3-black">Edit</a>
          <a href="/api/comment/delete/{{comment.id}}" class="w3-button w3-black">Delete</a>
        </div>
        {{/if}}
  
      </footer>
    </div>
  {{/each}}

</div>

