<div class="post-container">
  <a href="/api/post/{{id}}" style=text-decoration:none;>
    <div class="w3-card w3-hover-shadow" style="margin: 20px 0px 20px 10px;">

    <header class="w3-container w3-green">
      <h5>{{title}}</h5>
    </header>

    <div class="w3-container">
      <p>{{body}}</p>
    </div>

    <footer class="w3-white" style="padding-left: 10px;">
      <p>Posted by {{user_id}} on {{createdAt}}</p>
    </footer>

  </div>
  </a>
</div>


<a class="w3-button w3-medium" href="/api/comment/{{id}}">Comment</a>
<a class="w3-button w3-medium" href="/api/post/edit/{{id}}">Edit</a>
<a class="w3-button w3-medium" href="/api/post/delete/{{id}}">Delete</a>


<!-- add an edit button to toggle show/hide the form below-->
<div class="edit-post-container" style="margin: 20px 0px 20px 10px; display:none;">
  <h2>
    Update Post
  </h2>
  <form class="edit-post-form">
    <label for="title">
      Post Title:
    </label>
    <br />
    <textarea id="title" name="title" rows="2" cols="30">
      {{title}}
    </textarea>
    <br />
    <label for="body">
      Body:
    </label>
    <br />
    <textarea id="body" name="body" rows="6" cols="30">
      {{body}}
    </textarea>
    <br />
    <button type="submit" value="Submit_edit">
      Submit
    </button>
  </form>
</div>

<!-- add an delete button to toggle show/hide the form below-->
<div class="delete-post-container" style="margin: 20px 0px 20px 10px; display:none;">
  <h2>
    Delete Post
  </h2>
  <form class="delete-post-form">
    <input type="checkbox" id="delete" name="delete" value="false" />
    <label for="delete">
      Check box if you want to delete this post.
    </label>
    <br />
    <button type="submit" value="Submit_delete">
      Submit
    </button>
  </form>
</div>


<script src="/public/js/edit-post.js"></script>
<script src="/js/add-comment.js"></script>
<script src="/js/delete-post.js"></script> 
{{!-- <script src="/js/add-post.js"></script>
<script src="/js/edit-comment.js"></script>
<script src="/js/delete-comment.js"></script>
--}}
